<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up -Smart Health</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/fontawesome-all.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/iofrm-style.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/iofrm-theme15.css") }}">
</head>
<body>
    <div class="form-body" class="container-fluid">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="{{ url_for('static', filename="images/logo-light.svg") }}"  alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3>Get more things done with Loggin platform.</h3>
                    <p>Access to the most powerfull tool in the entire design and web industry.<br><br>
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                </div>
            </div>
            
            <div class="form-holder">
                <div class="form-content form-sm">
                    <div class="form-items">
                        <h3 class="form-title">Complete the form</h3>
                        <form method="Post">
                            <div class="form-group">
                                <label>Personal Information</label>
                                <input type="text" class="form-control" name="firstname" placeholder="First Name" required>
                                <input type="text" class="form-control" name="lastname" placeholder="Last Name" required>
                            </div>
                           
                            <div class="form-group">
                                <label>Sex</label>
                                <div class="custom-options">
                                    <input type="radio" id="rad1" name="sex"><label for="rad1">Male</label>
                                    <input type="radio" id="rad2" name="sex"><label for="rad2">Female</label>
                                </div>
                                <label>Date of birth</label>
                                <div class="custom-options">
                                 <input id="dob" type="datetime-local" name="dob">
                                 
                                </div>
                                   



                            </div>
                            <div class="form-group">
                                <label>Contact</label>
                            
                                <div class="form-row">
                                    <div class="col">
                                        <input type="phone" class="form-control" value="+90 " placeholder="Phone Number">
                                    </div>
                                    <div class="col">
                                        <input type="email" name="email" class="form-control" placeholder="Example@mail.com">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <input type="country" class="form-control"  placeholder="Nationality">
                                    </div>
                                    <div class="col">
                                        <input type="address" class="form-control" placeholder="Address">
                                    </div>
                                </div>

                                <label>Chose a password</label>
                                <div class="form-row">
                                    <div class="col">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>

                                </div>
                            </div>
                        
                            <div class="form-button text-right">
                                    <button type="button" class="btn btn-light">Cancel</button><button id="submit" type="submit" class="ibtn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="{{ url_for('static', filename="js/jquery.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/popper.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/main.js") }}"></script>
</body>
</html>